:root {
  --spotify-black: #191414;
  --spotify-green: #1DB954;
  --spotify-white: #FFFFFF;
  --spotify-gray: #B3B3B3;
  --spotify-dark-gray: #282828;
  --spotify-light-gray: #535353;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Segoe UI', 'Helvetica Neue', sans-serif;
  background-color: var(--spotify-black);
  color: var(--spotify-white);
}

#root {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--spotify-white);
}

a {
  color: var(--spotify-green);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

