@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

:root{
    /* COLORS FOR STYLING */
    --bg-color: #0A0A0Aff;
    --bg-color-2: #151516;
    --def-font-color: #fff;
    --highlig-color: #00BC12ff;
    --sec-font-color: #374151;
}
body::-webkit-scrollbar {
      display: none; 
}
html{
    scroll-behavior: smooth;
}
.scroll-container{
    scroll-behavior: smooth;
}

.hidden-opacity {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s ease;
}
.visible-opacity {
    opacity: 1;
    visibility: visible;
}
.group:hover .hidden-opacity:not(.always-hidden){
    opacity: 1;
    visibility: visible;
}

#playlist-popup {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}



/* #song-card,
#artist-card,
#album-card{
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    width: 170px;
    height: 260px;
    padding: 0 10px 50px 10px;
    border-radius: 5px;
    transition: .3s;
}
#song-card:hover,
#artist-card:hover,
#album-card:hover{
    background: var(--sec-font-color);
}
#song-card img,
#artist-card img,
#album-card img{
    border-radius: 5px;
    width: 160px;
    height: 190px; 
    object-fit: cover;
}
#song-card h3,
#artist-card h3,
#album-card h3{
    text-align: left;
    font-weight: 600;
    padding-top: 10px;
    transition: .3s;
}
#song-card a,
#artist-card p,
#album-card a{
    font-size: 14px;
    transition: .3s;
}
#song-card h3:hover, 
#song-card h3:active, 
#song-card a:hover, 
#song-card a:hover:active,
#artist-card h3:hover,
#artist-card h3:active,
#album-card h3:active,
#album-card h3:hover,
#album-card a:hover,
#album-card a:active{
    text-decoration: underline;
} 
#artist-card{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 230px;
}
#artist-card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

 */


#song-img{
    border-radius: 5px;
    width: 200px;
    height: 200px; 
    object-fit: cover;
}

.hover\:text-shadow:hover{
    text-shadow: 2px 2px 25px rgba(0, 255, 0, 0.5);
}









/* 

#top #back{
    font-size: 2.5rem;
    color: var(--sec-font-color);
    cursor: pointer;
    transition: .3s;
    margin-top: -7px;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--sec-font-color);
}
#top #back:hover{
    transform: scale(1.2);
    color: var(--def-font-color);
}

#banner{
    width: 100%;
    height: 300px;
    background: rgb(31, 41, 55);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
#nav-icons{
    position: absolute;
    top: 35px;
    display: flex;
    gap: 10px;
    z-index: 100;
}
#banner article{
    margin-left: 10px;
}
#nav-icons i{
    font-size: 2.5rem;
    color: var(--sec-font-color);
    cursor: pointer;
    transition: .3s;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--sec-font-color);
}
#nav-icons i:hover{
    transform: scale(1.2);
    color: var(--def-font-color);
}

article i{
    color: var(--highlig-color);
}

article #verified{
    margin-left: 5px;
    color: var(--sec-font-color);
}
#artist-info {
    margin-top: 5rem;
}

article #artist-name{
    font-size: 2rem;
    font-weight: 500;
    margin: 10px 0;
}
article p{
    font-weight: 600;
}
article #ml{
    color: var(--sec-font-color);
}
.banner-btns {
    position: relative;
    top: 50px;
    left: -50px;
    flex: 1;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.banner-btns a{
    font-size: 18px;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
    color: #fff;
    transition: .3s;
}

.banner-btns a:first-child:hover{
    box-shadow: 0 0 25px var(--highlig-color);
    transform: scale(1.1);
}
.banner-btns a:last-child:hover{
    box-shadow: 0 0 25px var(--sec-font-color);
    transform: scale(1.1);
}
 
#artist-nav{
    background: #161e2c;
    padding: 15px 30px;
    width: 100%;
}
#artist-nav a{
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    color: var(--sec-font-color);
    text-decoration: none;
    margin-right: 50px;
    transition: .3s;
}

#artist-nav a:hover, 
#artist-nav a:active{
    color: var(--def-font-color);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 20px;
}

#song-list {
    width: 100%;
    list-style: none;
    margin: 20px 0;
    padding: 0;
}
#song-list .song-btn {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    padding: 15px 30px; 
    margin: 0 0;
    color: var(--sec-font-color);
    background-color: rgb(31, 41, 55);
    border: none;
    text-align: left; 
    transition: .3s;
}

#song-list .song-btn:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#song-list .song-btn:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#song-list .song-btn:hover{
    background: rgba(130, 130, 127, 0.1);
    transform: scaleY(1.1);
}

#song-number,
#song-title,
#song-streams,
#favourite {
    margin: 0; 
    padding: 0; 
}

#song-number {
    flex: 0 0 50px; 
    text-align: left; 
}

#song-title {
    flex: 1; 
    font-size: 18px;
    font-weight: 600;
    color: var(--def-font-color);
    text-align: left;
    transition: .3s;
}

#song-streams {
    flex: 0 0 300px; 
    text-align: left; 
}

#fav {
    flex: 0 0 50px; 
    font-size: 18px;
    text-align: center; 
    margin-left: 10px;
    color: red;
    text-shadow: 0 0 25px red;
}

/* hr{
    border: none;
    height: 0.55px;
    width: 90%;
    background-color: var(--sec-font-color);
    margin: auto;
} */

/* audio {
    position: absolute;
    bottom: 0;
    left: 1.5px;
    z-index: 100;
    width: 100%;
} */
 